{% extends 'gestion_publicaciones/base.html' %}

{% load static %}

{% block title %} Modificar usuario {% endblock title %}

{% block active_inicio %}active{% endblock active_inicio%}

{% block content %}

    <div class="page-heading contact-heading header-text page-heading-login page-heading-register">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h4>USER</h4>
                        <h2>MODIFICAR TU USUARIO</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="send-message">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="section-heading">
            <h2>Editar usuario</h2>
            </div>
        </div>
        <div class="col-md-8">
            <div class="contact-form">
            <form action="" method="POST">{% csrf_token %}
                <table> 
                {{ form1.as_table }}
                </table>
                <button name= 'submit1' type="submit" class="boton-rojo">Editar</button>
            </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="contact-form">
            <form action="" method="POST">{% csrf_token %}
                <table> 
                {{ form2.as_table }}
                </table>
                <button name= 'submit2' type="submit" class="boton-rojo">Editar</button>
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>


{% endblock content %}