{% extends 'core/base.html' %}

{% load static %}

{% block title %} Tienda {% endblock title %}

{% block active_tienda %}active{% endblock active_tienda %}

{% block content %}

<div class="page-heading contact-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>TIENDA</h4>
              <h2>tienda</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contenedor">
      <h3>¿Querés publicar tu producto?</h3>
      <button class="boton-rojo"><a href="">HACÉLO ACÁ</a></button>
    </div>

<div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Publicaciones</h2>

              <div class="form-container">
                  <!-- Formulario para filtrar por genero -->
                  <form action="" method="POST" class="left-form">
                    <label for="genero-form">Filtrar por genero:</label>
                    <select name="" id="genero-form">
                      <option value="">-</option>
                      <option value="">Fianzas</option>
                      <option value="">Habitos</option>
                      <option value="">Desarrollo personal</option>
                    </select>
                    <input type="submit" value="Filtrar">
                  </form>

                  <!-- Formulario para buscar un producto -->
                  <form action="" method="POST" class="right-form">
                    <label for="search-product">Buscar un producto:</label>
                    <input type="text" name="" id="search-product" placeholder="Nombre del producto">
                    <input type="submit" value="Buscar">
                  </form>
              </div>
            </div>
          </div>
          
          <!-- EJEMPLO PUBLICACION -->
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'core/images/product_01.jpg' %}" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>Habitos Atomicos</h4></a>
                <h5>Genero: Habitos</h5>
                <h6>$25.75</h6>
                <p>Vendo habitos atomicos, de James Clear. Buen estado.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Preguntas (24)</span>
              </div>
            </div>
          </div>
          <!-- End publicacion -->

          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'core/images/product_02.jpg' %}" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>Tittle goes here</h4></a>
                <h6>$30.25</h6>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (21)</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'core/images/product_03.jpg' %}" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>Tittle goes here</h4></a>
                <h6>$20.45</h6>
                <p>Sixteen Clothing is free CSS template provided by TemplateMo.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (36)</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'core/images/product_04.jpg' %}" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>Tittle goes here</h4></a>
                <h6>$15.25</h6>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (48)</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'core/images/product_05.jpg' %}" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>Tittle goes here</h4></a>
                <h6>$12.50</h6>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (16)</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{% static 'core/images/product_06.jpg' %}" alt=""></a>
              <div class="down-content">
                <a href="#"><h4>Tittle goes here</h4></a>
                <h6>$22.50</h6>
                <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (32)</span>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

{% endblock content %}