{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Success Mindset es una pagina web de compra-venta de libros de desarrollo personal, esoterismo, riqueza, mindfullness, entre otros. Los compradores-vendedores podran publicar y comprar libros, ya sean nuevos o usados.">
    <meta name="author" content="Felipe Lopez Rios">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>{% block title %} {% endblock title %}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'core/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/owl.css' %}">

  </head>

  <body>

    {% comment %} <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** --> {% endcomment %}

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{% url 'inicio' %}"><h2>Success <em>Mindset</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item {% block active_inicio %} {% endblock active_inicio %}">
                <a class="nav-link" href="{% url 'inicio' %}">Inicio
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item {% block active_tienda %} {% endblock active_tienda %}">
                <a class="nav-link" href="{% url 'tienda' %}">Tienda</a>
              </li>
              <li class="nav-item {% block active_generos %} {% endblock active_generos %}">
                <a class="nav-link" href="{% url 'generos' %}">Generos</a>
              </li>
              <li class="nav-item {% block active_about %} {% endblock active_about %}">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item {% block active_iniciarsesion %} {% endblock active_iniciarsesion %}">
                <a class="nav-link" href="{% url 'login_view' %}">INICIAR SESION</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    
    {% block content %}
    
    
    
    {% endblock content %}

    <!-- Footer -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Pagina web Desarrollada Con Django - Proyecto Final Python Coderhouse.
            
            - Desarrollado por: <a rel="nofollow noopener" href="https://github.com/feliRios" target="_blank">Felipe Lopez Rios (Github)</a> y <a rel="nofollow noopener" href="https://github.com/" target="_blank">Thiago Hendler (Github)</a>
            </p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'core/js/custom.js' %}"></script>
    <script src="{% static 'core/js/owl.js' %}"></script>
    <script src="{% static 'core/js/slick.js' %}"></script>
    <script src="{% static 'core/js/isotope.js' %}"></script>
    <script src="{% static 'core/js/accordions.js' %}"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>

</html>
