{% extends 'gestion_publicaciones/base.html' %}

{% load static %}

{% block title %} Detalle de la Publicacion {% endblock title %}

{% block active_tienda %}active{% endblock active_tienda %}

{% block content %}

<!-- Banner Starts Here -->
    
    <div class="page-heading contact-heading header-text page-heading-login page-heading-register">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>TIENDA</h4>
              <h2>DETALLE PUBLICACION</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Banner Ends Here -->

    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2></h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="{{ object.imagen_libro.url }}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>{{ object.get_genero_libro_display }}</h4>
              <h3>{{ object.titulo_libro }}</h3>
              <span>$ {{ object.precio }}</span>
              <br>
              <span>{{ object.editorial_libro }}</span>
              <br>
              <span>{{ object.autor_libro }}</span>
              <br>
              
            </div>
          </div>
          <div class="col-md-12">
            <div class="book-description">
              <br>
              <br>
              <span><strong>Descripcion</strong></span>
              <p>{{ object.descripcion }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quam obcaecati cum harum neque, assumenda blanditiis at officia facere quas adipisci nihil iste, accusamus fugit accusantium porro. Quam, hic deserunt.</p>
              <br>

              <span>Fecha de publicacion: {{ object.fecha_publicacion|date:"j F, Y" }}</span>
              <br>
              <br>
              <br>

            </div>
          </div>
          <div class="col-md-12">
            <div class="book-messages">
              <span><strong>Preguntas</strong></span>
              <br>
              <span>¿Querés dejar tu pregunta?</span>
              <a href="{% url 'mensaje' object.pk %}" class="filled-button">HACÉLO ACÁ</a>
              <br>
              <br>
              <br>
              <br>

              <div class="container message-content">

                {% if not object.mensajes.all %}
                
                <span>Parece que todavia no dejaron ningun mensaje...</span>

                {% else %}
                
                    {% for msg in object.mensajes.all %}

                        <span><strong>Mensaje: </strong>{{ msg.mensaje }}</span>
                        <br>
                        <span><small>{{ msg.fecha_mensaje }}</small></span>
                        <hr>
                    
                    {% endfor %}

                {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}