{% extends 'core/base.html' %}

{% load static %}

{% block title %} Generos {% endblock title %}

{% block active_generos %}active{% endblock active_generos %}

{% block content %}

<div class="page-heading contact-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>GENEROS</h4>
              <h2>generos</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contenedor">
      <h3>Nuestras categorias</h3>
    </div>

        <div class="team-members">
        <div class="container">
            <div class="row">
            <div class="col-md-4">
                <div class="team-member">
                <div class="thumb-container">
                    <img src="{% static 'core/images/team_01.jpg' %}" alt="">
                    <div class="hover-effect">
                    <div class="hover-content">
                        <ul class="social-icons">
                        <li><a href="#">VER CATEGORIA</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="down-content">
                    <h4>Riqueza</h4>
                    <p>Napoleon Hill, autor de "Piense y hagase rico"</p>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                <div class="thumb-container">
                    <img src="{% static 'core/images/team_02.jpg' %}" alt="">
                    <div class="hover-effect">
                    <div class="hover-content">
                        <ul class="social-icons">
                        <li><a href="#">VER CATEGORIA</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="down-content">
                    <h4>Desarrollo Personal</h4>
                    <p>Brian Tracy, autor de "Traguese ese sapo"</p>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                <div class="thumb-container">
                    <img src="{% static 'core/images/team_03.jpg' %}" alt="">
                    <div class="hover-effect">
                    <div class="hover-content">
                        <ul class="social-icons">
                        <li><a href="#">VER CATEGORIA</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="down-content">
                    <h4>Liderazgo</h4>
                    <p>John C Maxwell, autor de "Las 21 leyes irrefutables del liderazgo".</p>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                <div class="thumb-container">
                    <img src="{% static 'core/images/team_04.jpg' %}" alt="">
                    <div class="hover-effect">
                    <div class="hover-content">
                        <ul class="social-icons">
                        <li><a href="#">VER CATEGORIA</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="down-content">
                    <h4>Emprendimiento</h4>
                    <p>Eric Ries, autor de "El metodo Lean Sartup"</p>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                <div class="thumb-container">
                    <img src="{% static 'core/images/team_05.jpg' %}" alt="">
                    <div class="hover-effect">
                    <div class="hover-content">
                        <ul class="social-icons">
                        <li><a href="#">VER CATEGORIA</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="down-content">
                    <h4>Habitos</h4>
                    <p>James Clear, autor de "Habitos Atomicos"</p>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                <div class="thumb-container">
                    <img src="{% static 'core/images/team_06.jpg' %}" alt="">
                    <div class="hover-effect">
                    <div class="hover-content">
                        <ul class="social-icons">
                        <li><a href="#">VER CATEGORIA</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="down-content">
                    <h4>Analisis tecnico & Trading</h4>
                    <p>John Murphy, autor de "Analisis tecnico de los Mercados Financieros"</p>
                </div>
                </div>
            </div>
        </div>
        </div>

{% endblock content %}